input[role='combobox'] {
  margin-bottom: 0px;
}

ul[data-headlessui-state='open'] {
  margin-top: -10px;
  position: absolute;
  max-height: 240px;
  overflow-y: auto;
  border-radius: 0.25rem;
  box-shadow: 15px;
  background: var(--background-color);
  font-size: medium;
  border: 0.5px solid var(--form-element-active-border-color);
  padding: 0;
}

li.timeseries-combobox-option {
  position: relative;
  overflow-x: hidden;
  border-bottom: 0.5px dashed gray;
  padding: 10px;
}

li.combobox-option {
  position: relative;
  overflow-x: hidden;
  border-bottom: 0.5px dashed gray;
  padding: 10px;
  width: 100%;
}

li.combobox-option.active {
  background-color: var(--primary-hover);
  color: var(--primary-inverse);
}

li.combobox-option .primary {
  font-size: large;
}
li.combobox-option .secondary {
  font-size: 0.9em;
  opacity: 0.6;
}

li::marker {
  content: '';
}
